.bank-application {
    font-family: 'Ubuntu', sans-serif;
}

.bank-header {
    margin-left: 1%;
}

.bank-title {
    margin-left: 1%;
}

.bank-label {
    font-size: 16px;
}

.bank-rounded-input {
    border: 1px solid;
    border-radius: 6px;
}

.negative_number {
    color: red;
    font-style: italic;
    font-weight: bolder;
}

.positive_number {
    color: green;
    font-weight: bolder;
}

.row-buffer {
    margin-bottom: 1%;
    margin-top: 1%;
}

.column-buffer {
    margin-left: 1%;
    margin-right: 1%;
}

.fading-line {
    background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
    display:block;
    height:1px;
    margin: 1% 0% 1% 0%;
}